@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    font-family: 'Montserrat', 'sans-serif';
}

div[id]:before{
    display: block;
    content: "";
    margin-top: -68px;
    height: 68px;
    visibility: hidden;
}
.navbar{
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
}

li{
    padding-right: 20px;
    font-size: 10px;
    margin-right: 30px;
}


.nav-brand :hover{
    color: rgb(247, 75,75) !important;
    text-decoration: underline ;
    
}
.nav-brand{
    color: white;
    margin-left: 30px;
    font-size: 35px;
    padding: 10px;
}

.nav-item{
    color:  !important;
    font-size: 21px;
    color: white !important;
}

li :hover{
    color: rgb(247, 75,75) !important;
}

.tron1{
    background-image: linear-gradient(rgb(0, 217, 255),rgb(0, 178, 248),rgb(0, 179, 179));
    background-size:100%;
    height: 1200px;
}

.title{
    vertical-align: middle;
    top: 100%;
    transform: translateY(170%);
}

.name{
    color: #263238;
    font-size: 85px;
    font-family: 'Lobster','sans-serif';
}

.dev{
    color: #263238;
    font-size: 40px;
    padding-top: 20px;
}

.line{
    border: 1px rgb(255, 253, 253) solid;
    width: 60%;
    margin: auto;
}

.alert{
    text-align: center;
    padding:10px;
    background:#fff;
    color:#000;
    margin-bottom:10px;
    display:none;
}

.cont1{
    width: auto;
    background: rgb(223, 223, 223);
}

#about {
    font-size: 45px;
    text-align: center;
    padding: 80px;
    font-family: 'Lobster';
    color: rgb(247, 75,75);
    
}

.about-p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 55px;
}

.card{
    padding:50px;
}

.img{
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

.card-title{
    font-family: Lobster;
}

#skills{
    padding: 20px;
}

.icon{
   padding: 40px;
   font-size: 60px;
}

.skill-text{
    text-align: center;
    font-size: 17px;
}

.portfolio{
    background: white;
    padding-top: 60px;
}

.repo-link{
    color: white;
    text-decoration: none !important;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.card-title{
    color: rgb(247, 75,75);
    text-align: center;
}


.btn{
    background-image: linear-gradient(rgb(0, 217, 255),rgb(0, 178, 248),rgb(0, 179, 179));
    color: white;
    font-size: 17px;
    text-decoration: none;
}


.social{
    padding-top: 40px;
}

.connect{
    font-size: 45px;
    text-align: center;
    padding: 20px;
    font-family: 'Lobster';
    color: rgb(247, 75,75);
    padding-top: 40px;
}

.cono{
    font-size: 150px;
    padding: 100px;
    color: #263238;
}

.con-box{
    background: rgb(255, 255, 255)!important;
    height: 700px;
}

.form-box{
    background: #263238;
    height: 600px;
    text-align: center;
    width: 100%;
}

.form-2{
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

.form{
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 70%;
}

.form-body{
    height: 90px;
}

.buttn{
    background-image: linear-gradient(rgb(0, 217, 255),rgb(0, 178, 248),rgb(0, 179, 179));
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin-top: 10px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

.arrow-top{
    font-size: 20px;
    text-align: center;
}

.credit{
    text-align: center;
    margin-top: 80px;
}

/* Media Queries */

@media(max-width: 500px){
    .bar {
        height: auto;
    }
    .tron1{
        height: 800px;
    }
    .title{
        transform: translateY(40%);
    }
    .navbar{
        height: auto;
    }
    .skill-text{
        display: right;
    }
    .icon{
        margin-left: 30%
    }
    .cono{
        padding: 50px;
        margin-left: 22%;
    }
}

/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

 } */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) {  } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { } */ 